<html>
  <head>
    <script type="text/javascript" src="/stilts-stomp.js"></script>
    <script type="text/javascript" src="/application.js"></script>
  </head>
  <body>
    StompBreak

    <div id="heartbeat">
      <h1>Heartbeat</h1>
      <pre class="content">
      </pre>
    </div>

    <div id="broadcast">
      <h1>Broadcast</h1>
      <pre class="content">
      </pre>
    </div>

    <div id="echo">
      <h1>Echo</h1>
      <pre class="content">
      </pre>
    </div>

  </body>
</html>
